<%= simple_form_for([grandparent, booking]) do |f| %>

  <div class="form-inputs">
    <%= f.input :start_date %>
    <%= f.input :end_date %>
  </div>

  <div class="btn1">
    <%= f.button :submit %>
  </div>
<% end %>
