<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), img src='app/assets/images/istockphoto-1388964325-170667a.jpg' alt="grandparent">
    <div class="card-category"> </div>
    <div class="card-description">
    <img src="app/assets/images/istockphoto-1388964325-170667a.jpg"  class="card-user" alt="Grand1">
      <h3><%= link_to grandparent.name, grandparent %></h3>

    <%# <a href="flats/ssaunier.html" class="card-link"></a> %>
      <p> Daily rate: </p>
      <%# <p><%= link_to grandparent.bio, grandparent</p> %> 
      <p class="rating">
          <i class="fa fa-star" style="color: #ffb400"></i>
          <i class="fa fa-star" style="color: #ffb400"></i>
          <i class="fa fa-star" style="color: #ffb400"></i>
          <i class="fa fa-star" style="color: #ffb400"></i>
          <i class="fa fa-star" style="color: #cacccd"></i>
      </p>
    </div>
  </div>
</div>
