<p style="color: blue"><%= notice %></p>

 <input type="text" class="search-bar" placeholder="Search for grandparents...">

<h1>23 grandparents near you</h1>

<div class="d-flex" >

  <div class="container" id="grandparents" >
    <div class="row">
      <% @grandparents.each do |grandparent| %>
        <%= render "shared/grandparent_card", grandparent: grandparent %>
      <% end %>
    </div>
  </div>
</div>

