<p style="color: blue"><%= notice %></p>

<h1>Grandparents</h1>

<div id="grandparents">
  <% @grandparents.each do |grandparent| %>
    <li><%= link_to grandparent.name, grandparent %></li>
  <% end %>
</div>

<p><%= link_to "Create a grandparents", grandparents_new_path %></p>

<p><%= link_to "Go back to the home page", root_path %></p>
