<div class="main-container">
  <div class="h1-search-bar">
    <h1>Feel lonely? Rent grandparents!</h1>
    <input type="text" class="search-bar" placeholder="Search for grandparents...">
  <div class="container" id="grandparents">
  <h2 class="text-center">Featured grandparents</h2>
  <div class="row">
    <% @featured_grandparents.each do |grandparent| %>
      <%= render "shared/grandparent_card", grandparent: grandparent %>
    <% end %>
  </div>
</div>


<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))url(https://files.slack.com/files-pri/T02NE0241-F04R1B566JK/image.png)">
    <div class="container">
      <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
      <p>Change your life and learn to code at one of our campuses around the world.</p>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    </form>
      <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> at Le Wagon
      </div>
    </div> %>
<%#
</body>
</html> %>

<div style="height:100vh">  </div>
