.navbar-lewagon {
  justify-content: space-between;
  background: rgb(249, 249, 249);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 110px;
  height: 80px;
}
